
/*Navigation css*/

ul {
    list-style-type: none;

  }
  a {
    color: #1A1C49; 
    text-decoration: none;
    font-family: 'Museo Sans';
    font-weight: 300;
  }
  a:hover {
    color: #2E477A; 
    font-weight: 400;
  }

  .logo {
    
    margin-left: 0;
    display: flex;
}
.logo img{
    width: 80px;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px;
    margin: 0 auto;
    max-width: 900px;
    width: 100%;
    
}
.menu{
    display: flex;
    align-items: center;
    /* justify-content: flex-end; */
    margin: 0;
    padding: 0;
  

}
.navbar li{
    display: inline;
    padding-left: 30px;
    font-size: 20px;
}

.navbar li a.nav-link{
    font-weight: 400;
    font-size: 20px;
}

.navbar li a.log {
    font-weight: 800;
}


/*col-xs-12 col-sm12 col-md-12 col-lg-12*/

.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12{
    display: flex;
    flex-direction: column;
}



/*Buttons*/

.btns{
    display: flex;
    justify-content: flex-start;
    max-width: 700px;
}

a.button{
    height: 9px;
    font-size: 10px;
    font-weight: bold;
    
}

/*rows*/

.row-btn{
    display: grid;
}

.row .center-xs{
    display: flex;
    
}

.row-btn-two{
    display: flex;
    justify-content: center;
    padding: 0px 80px 0px 80px;
}

.container{
    max-width: 65%;
}

.int{
    max-width: 50%;
    margin-left: 0px;
}

/*Pricing Cards*/

.row-cards{
    display: flex;
}

/* #pricing-lg{
    display: flex;
} */

.pricing-left{
    justify-content: center;
}

.pricing-left p{
   padding-left: 50px;
   padding-right: 50px;
   justify-content: center;
}

span.sig{
    font-size: 20px;
    position: absolute;
    padding-bottom: 60px;
    font-weight: 500;
}

span.sid{
    font-weight: 600;
    font-size: 60px;
}

.left-hero-content h2{
    font-size: 55px;
}

.left-hero-content h2.pay{
    font-size: 30px;
}

.left-hero-content p{
    font-weight: 800;
    font-size: 20px;
    color: #1A1C49;
}

.left-hero-content p.leap{
    color: #9e9e9e;
    font-size: 15px;
}

#feature-title{
    margin-left: 120px;
}

.pricing-right{
    margin-right: 100px;
    height: 350px;
    margin-top: 81px;
}

.row-icons{
    display: flex;
    flex-direction: column;
}
p.access{
    color: white;
    font-weight: 300;
}

.pricing-right a{
    padding: 40px;
    max-width: 50%;
}

.container p.high{
    font-weight: 800;
    color: white;
}

.pricing-page-item h3{
    font-weight: bold;
    color: white;
    padding: 10px;
}

.pricing-page-item p{
    color: white;
    padding: 15px;
    justify-content: center;
}

.container .row-icons .col-xs-11, 
.col-sm-12, 
.col-md-12, 
.col-lg-12,
.start-md{
    width: 100%;
}

